*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

a{
    color: white;
    text-decoration: none;
}


nav{
    color: aliceblue;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}

nav .logo{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li{
    display: inline;
    margin-left: 35px;
    text-transform: uppercase;
}

nav li a:hover{
    color: #f2bf31;
}

.active{
     color: #f2bf31;
}

.home{
    display: flex;
    align-items: center;
    color: white;
    height: 100vh;
    padding: 60px;
}

.home h1{
    font-size: 50px;
    margin-left: 50px;
    position: absolute;
    top: 240px;
}

span{
    color: #f2bf31;
}

.home h3{
    font-size: 2opx;
    color: #f2bf31;
    text-transform: uppercase;
    margin-left: 50px;
    position: absolute;
    top: 210px;
}

.home p{
    margin-left: 50px;
    font-size: 15px;
}

.img img{
    border-radius: 50%;
    background-size: contain;
    margin-left: 200px;
}

.btn button{
    color: #f2bf31;
    background-color: black;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    font-size: 15px;
    position: absolute;
    top: 70%; 
    left: 9%;
    border-color: #f2bf31;
}

.butn button{
    color: #f2bf31;
    background-color: black;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    font-size: 15px;
    position: absolute;
    top: 70%; 
    left: 20%;
    border-color: #f2bf31;
}

.btn button:hover{
    background-color: #f2bf31;
    color: black;
}

.butn button:hover{
    background-color: #f2bf31;
    color: black;
}

.git{
    color: #f2bf31;
    background-color: black;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 30px;
    top: 240px;
    border-radius: 50%;
    cursor: pointer;
}

.git:hover{
    color: black;
    background-color: #f2bf31;
}

.lindn{
    color: #f2bf31;
    background-color: black;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 30px;
    top:300px;
    cursor: pointer;
}

.lindn:hover{
    background-color: #f2bf31;
    color: black;
}

.mail{
    color: #f2bf31;
    background-color: black;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 30px;
    top:350px;
    cursor: pointer;
}






.about h1{
    position: absolute;
    top: 570px;
    left: 460px;
    color: white;
}

.abt-img img{
    position: absolute;
    top: 640px;
    left: 490px;
    border-radius: 50%;
    background-size: contain;
}

.para p{
    position: absolute;
    top: 960px;
    left: 20px;
    text-align: center;
    font-size: 20px;
}

.abth1 h1{
    position: absolute;
    top: 900px;
    left: 390;
    color: white;
}

.about-btn button{
    color: #f2bf31;
    background-color: black;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    height: 50px;
    width: 130px;
    font-size: 15px;
    position: absolute;
    top: 1050px; 
    left: 550;
    border-color: #f2bf31;
}

.about-btn button:hover{
    background-color: #f2bf31;
    color: black;
}






.skill p{
    position: absolute;
    top: 1200px;
    left: 520px;
    font-size: 20px;
}

.skill h1{
    position: absolute;
    top: 1220px;
    left: 460px;
    color: white;
    display: flex; 
    gap: 8px;
    font-size: 60px;
}

.skill-bar-h{
    display: block;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 1320px;
    left: 420px;
    display: grid;
}

.skill-bar-c{
    display: block;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 1380px;
    left: 420px;
}

.skill-bar-t{
    display: block;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 1440px;
    left: 420px;
}

.skill-bar-j{
    display: block;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    top: 1500px;
    left: 420px;
}

.skill-name{
    flex: 1;
    font-weight: bold;
}

.progress-bar{
    width: 400px;
    height: 15px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill{
    height: 100%;
    border-radius: 5px;
    background-color: #f2bf31;
} 

.skill-bar-h, .skill-bar-c, .skill-bar-t, .skill-bar-j, .skill-bar-n {
    border: 2px solid #f2bf31; 
    margin-bottom: 10px; 
    padding: 10px; 
    border-radius: 5px; 
  }






.projects h1{
    position: absolute;
    top: 1700px;
    left: 430px;
}

.card1{
    position: absolute;
    top: 1800px;
    left: 80px;
    border: 2px solid #f2bf31; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    width: 250px;
}
 
.card2{
    position: absolute;
    top: 1800px;
    left: 630px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.card3{
    position: absolute;
    top: 1800px;
    left: 900px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.card4{
    position: absolute;
    top: 1800px;
    left: 350px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.card1:hover{
    background-color: #f2bf31;
    color: black;
    transform: translateY(-10px);
}

.card2:hover{
    background-color: #f2bf31;
    color: black;
    transform: translateY(-10px);
}

.card3:hover{
    background-color: #f2bf31;
    color: black;
    transform: translateY(-10px);
}

.card4:hover{
    background-color: #f2bf31;
    color: black;
    transform: translateY(-10px);
}

.project-btn button{
    color: #f2bf31;
    background-color: black;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    height: 50px;
    width: 135px;
    font-size: 15px;
    position: absolute;
    top: 2100px; 
    left: 550;
    border-color: #f2bf31;
}

.project-btn button:hover{
    background-color: #f2bf31;
    color: black;
}






.contact h1{
    position: absolute;
    top: 2370px;
    left: 400px;
}

.name{
    position: absolute;
    top: 2450px;
    left: 480px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px; 
    background-color: black;
}

.name input {
    background-color: black;    
    color: white;              
    border: none;                             
    font-size: 1rem;                    
}

.name input:focus{
    outline: none;
}

.name input::placeholder {
    color: white; 
}

.email{
    position: absolute;
    top: 2530px;
    left: 480px; 
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.email input {
    background-color: black;    
    color: white;              
    border: none;                             
    font-size: 1rem;                    
}

.email input:focus{
    outline: none;
}

.email input::placeholder {
    color: white; 
    background-color: black;
}

.number{
    position: absolute;
    top: 2610px;
    left: 480px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.number input {
    background-color: black;    
    color: white;              
    border: none;                             
    font-size: 1rem;                    
}

.number input:focus{
    outline: none;
}

.number input::placeholder {
    color: white; 
    background-color: black;
}

.subject{
    position: absolute;
    top: 2690px;
    left: 480px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.subject input {
    background-color: black;    
    color: white;              
    border: none;                             
    font-size: 1rem;                    
}

.subject input:focus{
    outline: none;
}

.subject input::placeholder {
    color: white; 
    background-color: black;
}

.msg{
    position: absolute;
    top: 2770px;
    left: 480px;
    border: 2px solid #f2bf31; 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.msg input {
    background-color: black;    
    color: white;              
    border: none;                             
    font-size: 1rem; 
    width: 100%;
    height: 50px;                              
}

.msg input:focus{
    outline: none;
}

.msg input::placeholder {
    color: white; 
    background-color: black;
}

.contact-btn button{
    color: #f2bf31;
    background-color: black;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    font-size: 15px;
    position: absolute;
    top: 2880px; 
    left: 550px;
    border-color: #f2bf31;
}

.contact-btn button:hover{
    background-color: #f2bf31;
    color: black;
}

#contact{
   margin-top: 4000px;
}